.display {
    width: 455px;
    height: 125px;
    background: black;
    border: 2px grey solid;
}

.display p {
    color: white;
    margin-top: 20px;
    margin-right: 10px;
    text-align: right;
    font-size: 70px;
}