/* All styles for your header Components live here */
.header-container {
    display: flex;
}

.logo {
    height: 50px;
    padding-top: 5px;
}

.header-title {
    margin-top: 9px;
    margin-left: 13px;
    font-size: 14px;
    padding: 0;
    margin-bottom: 0;
}

.header-title p {
    font-weight: 700;
}

.header-title span {
    color: light-grey;
    font-weight: 300;
    margin-left: 2px;
}

.header-content .header-info {
    font-size: 14px;
    margin-left: 15px;
    width: 95%;
    margin-top: 8px;
}